html {
  background-color: black;
  outline: 1px dashed white;
  outline-offset: 1px;
  /* 1+1=magellan */
}
* {
  /* using odd numbers on margin and padding
  will make your html go boom */
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  outline: 1px dashed pink;
}
body {
  outline: 1px dashed blue;
  color: white;
  font-family: Consolas, Monaco, monospace;
  /* display: flex; use this and html boom
  flex-direction: column;*/
}